.square {

    height: 50px;
    width: 50px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    line-height: 50px;
    outline-style: solid;
    outline-width: 2px;

    
}

.row{
    display: grid;
    font-size: xx-large;
    grid-template-columns: repeat(5,60px);
}
.nav{
    float: left;
    
    height: 100vh;
    width: 200px;

    border-style: solid;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color:#dadada;
    color: #272727;
}

.main{
    margin-left: 220px;
}