.square {

    height: 50px;
    width: 50px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    line-height: 50px;
    outline-style: solid;
    outline-width: 2px;
    /* outline-color: blueviolet; */
    font-family: 'Courier New', Courier, monospace;
}

.row{
    display: grid;
    
    grid-template-columns: repeat(5,60px);
}

